<%= form_for Squeak.new do |form| %>
  <%= form.label :message %>
  <%= form.text_field :message %>

  <%= form.submit 'Squeak!' %>
<% end %>

<ul>
  <% Squeak.all.each do |squeak| %>
    <li><%= squeak.user.name %>: <%= squeak.message %></li>
  <% end %>
</ul>

